.worksBlock {
    min-height: 100vh;
    background-color: #bc84e7;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {

}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}