@import '../common/styles/sass/variables.scss';

.worksBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .worksContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      color: $titleColor;
      text-transform: uppercase;
      font-size: 32px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    .works {
      //border: 1px solid;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}





