$bgColor: rgb(15 23 42);
$secondBgColor: #202020;
$selectionColor: rgb(114 226 174) !important;
$textColor: rgb(250 250 250);
$titleColor: rgb(250 250 250/1);
$border: 0 solid #e5e7eb;
$bgCard: rgb(22 32 51/1);
